.navbar {
  display: flex;
  justify-content: space-between; /* Isse Logo, Links aur Buttons door-door ho jayenge */
  align-items: center;
  padding: 15px 8%;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: sans-serif;
}

.logo {
  font-size: 24px;
  font-weight: 800;
  color: #333;
  cursor: pointer;
}

.logo span {
  color: #009879;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px; /* Links ke beech mein space */
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover, .nav-links a.active {
  color: #009879;
}

.nav-btns {
  display: flex;
  align-items: center;
  gap: 15px;
}

.login-btn {
  background: none;
  border: none;
  font-weight: 600;
  color: #333;
  cursor: pointer;
}

.signup-btn {
  background: #009879;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}